@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
           --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
           --color-primary:#667eea;
           --color-secondary:#764ba2;
           --boton-padding:20px 40px; 
}

html{
  scroll-behavior:smooth;
}


body{
           font-family: 'Raleway', sans-serif;
}

.container{
           width: 90%;
           margin: 0 auto;
           overflow: hidden;
           padding: 80px 0;
           max-width: 1200px;
}

.subtitle{
           color:var(--color-primary);
           font-size: 2.5rem;
           margin-bottom: 35px;
}

.hero{
           height: 100vh;
           background-image: var(--background),url(../assets/computer-768608_1920.jpg);
           background-repeat: no-repeat;
           background-size: cover;
           background-attachment: fixed;
           background-position: center;
           position: relative;
}

.hero .container{
           padding: 0;
}

.hero__img{
  display: flex;
  justify-content: center;
  
}

.nav{
           display: flex;
           justify-content: flex-end;
           height: 70px;
           align-items: center;
           font-weight: 700;
}

.nav--footer{
           font-weight: 300;
           justify-content: flex-start;
}

.nav__items{
           color: #fff;
           text-decoration: none;
           margin-right: 10px 15px;
           font-weight:inherit;
           padding: 10px;
           font-size: 1.5rem;
}

.nav__items--cta{
           border:1px solid #fff;

}

.nav__items--footer{
           padding: 10px;
}

.hero__container{
           display: flex;
           height: calc(100vh - 70px);
           align-items: center;
           color:#fff
}

.hero__title{
           font-size: 3.2rem;
}

.hero__subtitle{
           font-size: 2rem;
           font-weight: 300;
           margin: 15px 0;
           text-align: center;
}

.hero__cta{
           display: inline-block;
           background: #fff;
           padding: var(--boton-padding);
           color: var(--color-primary);
           text-decoration: none;
           border-radius: 40px;

}

.hero__texts{
           width: 80%;
           margin-bottom: 50px;
}

.hero__wave{
           position: absolute;
           bottom: 0;
           left: 0;
           width: 100%;
           height: 100px;
}

/* About */

.presentation{
           padding-top: 0;
           text-align: center;
}

.presentation__picture{
           width:300px;
           height: auto;
           border-radius: 5%;
           margin-bottom: 10px;
           object-fit:cover;
           object-position:center;
}

.presentation__copy{
           width: 80%;
           margin: 0 auto;

}

.presentation__cta{
           display: inline-block;
           margin-top: 30px;
           background: var(--color-primary);
           color:#fff;
           text-decoration: none;
           padding: var(--boton-padding);
           border-radius:40px
}

.about{
           min-height: 400px;
           display: grid;
           grid-template-columns: 1fr 1fr;
           row-gap: 80px;
           justify-items: center;
           align-items: center;

}

.about__img{
           text-align: center;
}

.about__img--left{
           text-align:left;
}


.about__picture{
           max-width: 80%;
}

.about__paragraph{
           margin-bottom:20px;
           line-height: 1.5;
           font-weight: 300;
}

/* Proyects */

.projects{
           background: #f2f2f2;

}

.projects__grid{
           display: grid;
           height: 550px;
           grid-template-areas: 
           "img1 img1 img2 img3"
           "img1 img1 img4 img5";
           gap: 10px;
}

.projects__item{
           position: relative;
           width: 100%;
           height:100%;
           overflow: hidden;
}

.projects__img{
           width: 100%;
           height: 100%;
           object-fit: cover;
           cursor: pointer;
}

.projects__item:nth-of-type(1){
           grid-area: img1;
}

.projects__item::nth-of-type(2){
           grid-area: img2;
}

.projects__item::nth-of-type(3){
           grid-area: img3;
}

.projects__item::nth-of-type(4){
           grid-area: img4;
}

.projects__item::nth-of-type(5){
           grid-area:img5;
}

.projects__hover{
          position: absolute;
          background: #dc143c8c;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color:#fff;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center; 
          transform: translatex(100%);
          cursor: pointer;
          transition:transform .3s ease-in-out;
}

.projects__item:hover .projects__hover{
           transform: translatex(0%);
}

.projects__icon{
           margin-top: 10px;
           font-size: 30px;
}

/*Testimony*/

.testimony__grid{
           width: 100%;
           display: grid;
           grid-template-columns: 1fr 1fr;
           gap:30px;

}

.testimony__item{
           width: 95%;
           margin: auto;
           background: var(--color-secondary);
           box-shadow: 0 8px 10px rgba(66,66,66, .5);
           border-radius: 7px;
           padding: 30px 25px;
           color: #fff;
           margin-bottom: 50px;
}

.testimony__person{
           display: flex;
           align-items: center;
           margin-bottom: 20px;
}

.testimony__img{
           width: 100px;
           margin-right: 30px;
           min-width: 100px;
           height: 100px;
           object-fit: cover;
           object-position: top;
           border-radius: 50%;
           border:3px solid #fff;
}

.testimony__name{
           font-size: 1.5rem;
           margin-bottom: 10px;
}

.testimony__verification{
           color:#E0AFA0;
           font-weight: 700;
}

.testimony__review{
           font-weight: 300;
}

/*FOOTER*/

.footer{
           background: var(--color-primary);
}

.footer__grid{
           display: grid;
           grid-template-columns: 3fr 2fr;
           align-items:center;
}

.footer__title{
           font-weight: 400;
           color:#fff;
           font-size: 2rem;
           margin-bottom: 30px;
           text-align: center;
}

.footer__icons{
           display: flex;
           justify-content: space-evenly;
}

.footer__container-icons{
           display: inline-block;
           width: 60px;
           height: 60px;
           color: #fff;
           text-align: center;
           border:1px solid #fff;
           border-radius: 50%;
}

.footer__icon{
           color:inherit;
           font-size: 30px;
           text-decoration: none;
           
}

.fab.footer__icon{
           line-height: 60px;       
}

/*Responsive Design*/

@media screen and (max-width:800px){
           :root{
                      --boton-padding:18px 40px;
           }
           .nav{
                      justify-content: space-around;
           }

           .nav__items--cta{
                      border: none;
           }

           .nav__items--footer{
                      border: none;
           }

           .nav__items{
                      font-weight: 400;
                      border-bottom: 1px solid #fff;
                      margin-right: 0;
           }

         

           .hero__texts{
                      width: 100%;
                      margin-bottom: 80px;
           }

           .hero__title{
                      font-size: 2.5rem;
           }

           .hero__subtitle{
                      font-size: 1.5rem;
           }

           /*About*/

           .presentation__copy{
                      width: 100%;
           }

           .about{
                      grid-template-columns: 1fr;
           }

           .about.container{
                      padding-top: 30PX;
           }

           .about__img--left{
                      text-align: center;
           }

           .about__texts:last-child{
                      grid-row: 3/4;
           }

           /*My Proyects */

          
           .projects__grid{
                      grid-template-areas: 
                      "img1 img1 img2 img2"
                      "img1 img1 img3 img3"
                      "img4 img4 img5 img5 ";
           }

           /*Testimony */

           .testimony__grid{
                      grid-template-columns: 1fr;
                      gap: 30px;

           }

           .testimony__item{

                      margin-bottom: 30px;
           }

           /*Footer */
           
           .footer__grid{
                      grid-template-columns: 1fr;
           }

           .footer__contact{
                      grid-row: 1/2;
           }


           
            
}


@media screen and (max-width:500px) {
           :root{
                      --boton-padding:18px 35px;
           }

           .subtitle{
                      font-size: 2rem;
                      margin-bottom: 20px;
           }

           .nav{
                      flex-wrap: wrap;
                      justify-content: space-evenly;
                      margin-top: 10px;
           }

           .nav__items{
                      padding: 0 10px;
                      border:0;
           }

           .hero__texts{
                      text-align: center;
                      margin-bottom: 100px;
           }

           .hero__title{
                      font-size: 2rem;
           }

           /*About*/

           .presentation__picture{
                      width: 120px;
                      height: 120px;

           }

           .about{
                      row-gap: 60px;
           }

           .about.container{
                      padding-top: 10px;
           }

          
           /*My projects */

           .projects__grid{
                      grid-template-areas: 
                      "img1"
                      "img2"
                      "img3"
                      "img4"
                      "img5";
                      height: auto;
                      grid-template-rows:repeat(5, 250px);
                      grid-auto-rows: 250px;
                      gap: 10px;
           }

           /*Testimony */

           .testimony__item{
                      padding: 30px 15px;

           }

           .testimony__person{
                      flex-direction: column;
           }

           .testimony__texts{
                      text-align: center;
           }

           .testimont__img{
                      margin-bottom: 20px;
                      margin: 0;
           }

           /*Footer */
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
  padding: 25px 30px;
  width:100%;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
  align-self: center;
  justify-content: center;
  
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 75%;
}
.bar .progress-line.react span{
  width: 60%;
}
.bar .progress-line.angular span{
  width: 55%;
}
.bar .progress-line.css span{
  width: 50%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "75%";
}
.progress-line.react span::after{
  content: "60%";
}
.progress-line.angular span::after{
  content: "55%";
}
.progress-line.css span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "60%";
}